# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# MAC
*.DS_Store

# PyCharm
.idea/

# SSL credentials
*.key
*.pem

# User uploads
uploads/